html {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
   width: 60%;
   height: 60%;
   margin: 0 auto;
}

#category {
   text-align: center;
}

.gallery ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 32px 0;
}

.gallery li {
    margin: 2px; 
    flex-basis: calc(50% - 20px);
}

.gallery img {
    width: 100%;
    height: auto;
}

#showResults {
   position: relative;
   width: 200px;
   height: 50px;
   left: 15%;
}

#nextPage {
   position: relative;
   width: 200px;
   height: 50px;
   left: 40%;
}


 

 