
html {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
   position: absolute;
   background-color: #264653;
   height: 100%;
}

.results {
   position: relative;
   top: -200px;
   left: 100px;
   font-size: 50px;
   color: white;
   background-color: #264653;
   text-align: center;
   width: fit-content;
}

#container {
   position: relative;
   width: 60%;
   height: 100%;
}

#category {
   text-align: center;
}

.gallery {
   margin-bottom: 0px;
}

.gallery ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-self: center;
}

.gallery li {
    flex-basis: calc(50% - 20px);
    max-height: 180px;
    margin-top: 10%;
}

.gallery img {
    width: 100%;
    height: auto;
    margin-top: -15%;
}

#showResults {
   position: relative;
   width: 200px;
   height: 50px;
   margin-top: 30px;
}

#nextPage {
   position: relative;
   width: 200px;
   height: 50px;
   margin-top: 30px;
}

#title {
   text-align: center;
}

.rules {
   justify-items: left;
}

#start {
   position: relative;
   justify-self: center;
}

 

 