#container {
   width: 60%;
   height: 60%;
   margin: 0 auto;
}

#category {
   text-align: center;
}

.gallery ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 32px 0;
}

.gallery li {
    margin: 2px; 
    flex-basis: calc(50% - 20px);
}

.gallery img {
    width: 100%;
    height: auto;
}

#nextPage {
    position: relative;
 }